.floating-call {
  position: fixed;
  width: 220px;
  height: 160px;
  bottom: 20px;
  right: 20px;
  background: black;
  border-radius: 12px;
  overflow: hidden;
  cursor: pointer;
  z-index: 9999;
}

.mini-video {
  width: 100%;
  height: 100%;
}

.end-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  background: red;
  border: none;
  color: white;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  cursor: pointer;
}
