/* body {
    background-color: #ffffff; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
} */
.page-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  margin: 0;
  padding: 20px;
  box-sizing: border-box;
}
.card {
  background-color: var(--secondary-color);
  width: 100%;
  max-width: 500px;
  border: 1px solid var(--border-soft);
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
  position: relative;
}
.back-link-container {
  position: absolute;
  bottom: 25px;
  left: 25px;
  z-index: 1000;
  width: auto;
}
.back-text-link {
  color: #a0aec0;
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1.5px;
  display: inline-block;
  transition: all 0.3s ease;
}
.back-text-link:hover {
  transform: translateY(-3px) scale(1.02);
  letter-spacing: 1.5px;
  color: #ffff;
}
.header {
  border-bottom: 1px solid #fff;
  padding: 20px;
  text-align: center;
}
.header h2 {
  color: #cbd5e0;
  font-weight: normal;
}

.content {
  padding: 30px;
}
.outer-box {
  border: 1px solid #fff;
  padding: 12px;
}
.inner-box {
  border: 1px dashed #fff;
  padding: 30px 20px;
  text-align: center;
}

.forget-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.forget-form label {
  display: block;
  color: #cbd5e0;
  font-size: 14px;
  margin-bottom: 8px;
  text-align: left;
  width: 100%;
}

.forget-form input {
  border-radius: 10px;
  padding: 12px 14px;

  color: var(--text-color);
  outline: none;

  transition: border 0.2s ease, box-shadow 0.2s ease, background 0.2s ease;
}

.forget-form input::placeholder {
  color: var(--text-placeholder);
}

.email-input {
  width: 100%;
  background: transparent;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 12px;
  margin: 10px 0 20px 0;
  box-sizing: border-box;
}
.send-btn {
  width: 100%;
  max-width: 250px;
  background-color: #1e3a53;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.send-btn:hover {
  background-color: #1e3a53;
  transform: translateY(-3px) scale(1.03);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  color: #fff;
  letter-spacing: 1.5px;
}
.send-btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5 px 10px rgba(0, 0, 0, 0.2);
}
.footer-logo {
  text-align: right;
  padding: 0 20px 20px 0;
  color: #cbd5e0;
}

@media (max-width: 600px) {
  .card {
    max-width: 95%;
  }
  .content {
    padding: 25px 15px;
  }

  .outer-box {
    padding: 8px;
  }

  .inner-box {
    padding: 20px 10px;
  }
  .sent-btn {
    max-width: 100%;
  }
}
