.login-wrapper {
  width: 900px;
  height: 520px;
  margin: 60px auto;
  display: flex;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.15);
}
.login-line {
  border: none;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.3);
  margin: 35px 0 25px;
}
.login-left {
  width: 50%;
  background: #e6f7fb;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-right {
  width: 50%;
  background: #0b2a3f;
  color: #fff;
  padding: 50px 40px;
  position: relative;
}
.login-right h2 {
  text-align: center;
  margin-bottom: 40px;
  font-weight: 500;
}

.login-right form {
  display: flex;
  flex-direction: column;
}

.login-right label {
  font-size: 13px;
  margin-bottom: 6px;
  color: #cfd8dc;
}
login-right input {
  background: transparent;
  border: 1px solid #4c6a80;
  border-radius: 8px;
  padding: 12px;
  color: #fff;
  margin-bottom: 18px;
  outline: none;
}

.login-right input::placeholder {
  color: #9fb3c2;
}

.login-right input:focus {
  border-color: #6ec1e4;
}
.login-right input {
  background: transparent;
  border: 1px solid #4c6a80;
  border-radius: 8px;
  padding: 12px;
  color: #fff;
  margin-bottom: 18px;
  outline: none;
}

.login-right input::placeholder {
  color: #9fb3c2;
}

.login-right input:focus {
  border-color: #6ec1e4;
}
.forgot {
  text-align: right;
  font-size: 12px;
  color: #9fb3c2;
  margin-bottom: 25px;
  text-decoration: none;
}

.forgot:hover {
  color: #fff;
}
.login-right button {
  background: #3d5afe;
  border: none;
  padding: 12px;
  border-radius: 8px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}

.login-right button:hover {
  background: #304ffe;
}

.signup {
  text-align: center;
  font-size: 13px;
  margin-top: 25px;
  color: #cfd8dc;
}

.signup span {
  color: #6ec1e4;
  cursor: pointer;
  
}
.brand {
  position: absolute;
  bottom: 20px;
  right: 30px;
  font-size: 14px;
  color: #9fb3c2;
}





