.login-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 900px;
  width: 100%;
  min-height: 520px;
  display: flex;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.15);
}

.login-left {
  width: 50%;
  background: #e6f7fb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 40px 20px;
}

.icon-img {
  max-width: 900px;
  width: 100%;
  height: auto;
}

.people-img {
  max-width: 5000px;
  width: 100%;
  height: auto;
}

.login-right {
  width: 50%;
  background: var(--primary-color);
  color: #fff;
  padding: 50px 40px;
  position: relative;
}

.login-right h2 {
  text-align: center;
  margin-bottom: 40px;
  font-weight: 500;
}

.login-line {
  border: none;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.3);
  margin: 35px 0 25px;
}

.login-right form {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  gap: 26px;
}

.login-right input {
  /* background: transparent; */
  /* border: 1px solid #4c6a80; */
  border-radius: 8px;
  padding: 12px;
  color: #fff;
  /* margin-bottom: 18px; */
  outline: none;
}

.login-right input::placeholder {
  color: #9fb3c2;
}

.login-right input:focus {
  border-color: #6ec1e4;
}

.forgot {
  text-align: right;
  font-size: 12px;
  color: #9fb3c2;
  margin-bottom: 25px;
  text-decoration: none;
}

.login-right button {
  background: #3d5afe;
  border: none;
  padding: 12px;
  border-radius: 8px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}

.signup {
  text-align: center;
  font-size: 13px;
  margin-top: 25px;
  color: #cfd8dc;
  width: 100%;
}

.signup span {
  color: #6ec1e4;
  cursor: pointer;
}

.brand {
  position: absolute;
  bottom: 20px;
  right: 30px;
  font-size: 14px;
  color: #9fb3c2;
}

@media (max-width: 768px) {
  .login-wrapper {
    min-height: 100vh;
    margin: 0;
    justify-content: center;
    align-items: center;
  }

  .login-left {
    display: none;
  }

  .login-right {
    width: 100%;
    max-width: 360px;
    border-radius: 24px;
    padding: 40px 24px;
  }
}
