/* ======================================================
   AUTH LOADING SCREEN
====================================================== */
.auth-loading-screen {
  min-height: 100vh;
  width: 100%;

  display: grid;
  place-items: center;

  background: var(--bg-primary);
  color: var(--text-color);

  text-align: center;
}

/* Optional loader container */
.auth-loading-screen > * {
  animation: fadeIn 0.4s ease;
}

/* ======================================================
   MAIN LAYOUT
====================================================== */
.main-layout-container {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  background-position: center;
  background-attachment: fixed;
  /* background: var(--background-color); */
}

/* Main content area */
/* .main-content {
  flex: 1;
  min-width: 0;
  display: flex;
  flex-direction: column;

  background: var(--background-color);
  color: var(--text-color);
  overflow-x: hidden;
  overflow-y: auto;
  margin-left: var(--sidebar-width);
} */

/* Optional content padding helper */
.main-content-inner {
  padding: 24px;
  max-width: 100%;
}

.page-header {
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 0 10px;
  position: sticky;
  top: 0;
  z-index: 100;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

.page-header-info {
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-header--scrolled {
  background-color: var(--accent-color);
}

.page-header .back-button {
  background-color: transparent;
  color: var(--text-color);
  cursor: pointer;
  outline: none;
  border: none;
  padding: 0;
}

.page-header .back-button:active {
  background-color: transparent;
}

.page-header .page-name {
  font-size: 16px;
  font-weight: bold;
}

/* ======================================================
   SMALL ANIMATION
====================================================== */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(6px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
