* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Arial, sans-serif;
}


.feed-wrapper {
  width: 720px;
  margin: 30px auto;
}


.navbar {
  background: #9eb6c8;
  padding: 15px 25px;
  border-radius: 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.nav-tabs {
  display: flex;
  gap: 25px;
}

.nav-tabs span {
  font-weight: 600;
  cursor: pointer;
  color: #243746;
}

.nav-tabs .active {
  border-bottom: 3px solid #243746;
  padding-bottom: 5px;
}


.search-box {
  display: flex;
  align-items: center;
  background: #6b7c95;
  padding: 6px 14px;
  border-radius: 20px;
}

.search-box input {
  background: transparent;
  border: none;
  outline: none;
  color: #fff;
  margin-left: 6px;
}


.post-box {
  background: #6b7c95;
  padding: 20px;
  border-radius: 22px;
  margin-bottom: 30px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.post-input {
  display: flex;
  align-items: center;
  gap: 10px;
}

.post-input input {
  width: 100%;
  padding: 12px;
  border-radius: 14px;
  border: none;
  outline: none;
}

.post-actions {
  margin-top: 12px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.post-actions button {
  background: #e6eef5;
  border: none;
  border-radius: 14px;
  padding: 7px 14px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 6px;
}


.post-card {
  background: #6b7c95;
  padding: 16px;
  border-radius: 22px;
  margin-bottom: 20px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.post-header {
  display: flex;
  gap: 10px;
  margin-bottom: 12px;
  cursor: pointer;
}

.username {
  font-weight: 600;
  color: #fff;
  font-size: large;
}

.follow {
  font-size: 14px;
  color: #cfe9ff;
  cursor: pointer;
}

.follow:hover {
  text-decoration: underline;
}


.post-image {
  width: 100%;
  border-radius: 18px;
  margin-bottom: 12px;
}


.post-stats {
  display: flex;
  justify-content: space-between;
  color: #eaf3fb;
  font-size: 14px;
  margin-bottom: 12px;
  flex-wrap: wrap;
  gap: 10px;
}

.icon-btn {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 6px;
}

.icon-btn:hover {
  opacity: 0.85;
  transform: scale(1.05);
}


.comment-input {
  width: 100%;
  padding: 10px;
  border-radius: 14px;
  border: none;
  outline: none;
}


.icon {
  font-size: 20px;
  color: #e6eef5;
  cursor: pointer;
}


@media (max-width: 768px) {
  .feed-wrapper {
    width: 95%;
  }

  .nav-tabs {
    flex-wrap: wrap;
    gap: 10px;
  }
}
