.notif-root {
  position: relative;
  max-width: 720px;
  width: 100%;
  height: calc(100vh - 76px);
  overflow-y: auto;
  overflow-x: hidden;
}

.notif-wrapper {
  right: 0;
  margin-top: 12px;
  width: 100%;
  max-width: 720px;
  /* background: var(--hover-overlay); */
  /* border-radius: 16px; */
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  overflow-x: hidden;
}

.notif-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  padding: 12px 16px;
  position: sticky;
  top: 0;
  border-radius: 16px;
  background-color: var(--secondary-color);
}

.notif-header.scrolled {
  backdrop-filter: blur(6px);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

.notif-header-info .back-button {
  background-color: transparent;
  outline: none;
  border: none;
  color: var(--text-color);
}

.mark-read {
  font-size: 14px;
  color: #2563eb;
  background: none;
  border: none;
  cursor: pointer;
}

.mark-read:hover {
  text-decoration: underline;
}

.notif-list {
  overflow-y: auto;
}

.notif-item {
  display: flex;
  gap: 12px;
  padding: 12px 16px;
  cursor: pointer;
  margin-bottom: 10px;
  border-radius: 16px;
  overflow: hidden;
  color: var(--text-inverse);
}

.notif-item:hover {
  background: var(--hover-overlay);
}

.notif-item.unread {
  background: var(--secondary-color);
  color: var(--text-color);
}

.notif-icon-wrap {
  margin-top: 4px;
}

.notif-icon {
  width: 20px;
  height: 20px;
}

.notif-icon.like {
  color: #ef4444;
}

.notif-icon.comment {
  color: #3b82f6;
}

.notif-icon.follow {
  color: #22c55e;
}

.notif-content {
  flex: 1;
}

.notif-content p {
  font-size: 14px;
  margin: 0;
}

.notif-content span {
  font-size: 12px;
  color: var(--text-color);
}

.unread-dot {
  width: 8px;
  height: 8px;
  background: var(--primary-color);
  border-radius: 50%;
  margin-top: 8px;
}

.notif-empty {
  padding: 24px;
  text-align: center;
  font-size: 14px;
  color: #6b7280;
}
