.profile-page {
  /* background: var(--primary-color); */
  min-height: 100vh;
  color: var(--text-color);
  width: 100%;
  max-width: 720px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  border-radius: 25px;
}

.profile-card {
  width: 100%;
  max-width: 720px;
  /* margin: 0px auto; */
  background: var(--primary-color);
  border-radius: 25px;
  overflow: hidden;
  position: relative;
}

.cover-img {
  width: 100%;
  height: 260px;
  position: relative;
}

.profile-info {
  position: relative;
  padding: 0 16px;
  display: flex;
  gap: 20px;
}

.avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 4px solid var(--secondary-color);
  /* position: absolute; */
  margin-top: -30px;
}

.user-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1;
  padding-bottom: 16px;
}

.info-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user-info h2 {
  font-size: 26px;
}

.username {
  opacity: 0.8;
  margin-top: 5px;
}

.bio {
  margin-top: 8px;
  font-size: 14px;
}

.extra-info {
  font-size: 14px;
  opacity: 0.85;
}

.extra-info .status {
  /* margin-top: auto; */
  /* margin-bottom: 6px; */
}

.extra-info .see-info {
  font-size: 13px;
  opacity: 0.6;
  margin-bottom: 6px;
}

.extra-info .text-posts {
  font-size: 13px;
  opacity: 0.7;
}

.stats-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.profile-stats {
  display: flex;
  justify-content: center;
  gap: 40px;
  /* position: absolute;
  top: 50px;
  right: 40px; */
}

.profile-stats div {
  min-width: 75px;
  text-align: center;
}

.profile-stats h3 {
  font-size: 20px;
}

.profile-stats span {
  font-size: 13px;
  opacity: 0.7;
}

.actions {
  display: flex;
  gap: 15px;
  /* position: absolute;
  top: 120px;
  right: 40px; */
}

.btn {
  padding: 8px 18px;
  border-radius: 20px;
  border: none;
  background: #ffffff;
  color: #0e2a44;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
}

.btn.light {
  background: #e5e5e5;
}

.profile-divider {
  position: relative;
}
.profile-divider::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  width: 100%;
  max-width: 100%; /* card မကျော်အောင် */
  height: 4px; /* line ထူ */
  background: rgba(255, 255, 255, 0.6);
  border-radius: 4px;
}

.profile-tabs {
  width: 100%;
  max-width: 720px;
  display: flex;
  gap: 40px;
  font-size: 16px;
  padding: 0 16px;
}

.profile-tabs span {
  opacity: 0.7;
  cursor: pointer;
}

.profile-tabs .active {
  opacity: 1;
  border-bottom: 2px solid white;
  padding-bottom: 5px;
}

.post-grid {
  width: 100%;
  max-width: 720px;
  padding: 0 16px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  padding-bottom: 30px;
}

.post {
  position: relative;
  height: 200px;
  border-radius: 14px;
  overflow: hidden;
}

.post img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

@media (max-width: 1200px) {
  .post-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .s,
  .actions {
    position: static;
    margin-top: 15px;
    justify-content: center;
  }

  .user-info {
    margin-left: 0;
  }

  .extra-info {
    padding: 0 16px;
  }
}

@media (max-width: 992px) {
  .profile-info {
    flex-direction: column;
    gap: 0;
  }
  .info-container {
    flex-direction: column;
    align-items: flex-start;
    text-align: start;
    gap: 16px;
    padding: 0 16px;
  }
  .stats-container {
    width: 100%;
    margin: 0 auto;
    gap: 0px;
  }
  .top-bar {
    flex-direction: column;
    align-items: stretch;
  }

  .search-wrapper {
    width: 100%;
  }

  .profile-page {
    width: 95%;
  }

  .avatar {
    position: static;
    margin: -60px 0 15px;
    display: block;
  }

  .profile-tabs {
    justify-content: center;
  }
}

@media (max-width: 600px) {
  .post-grid {
    grid-template-columns: 1fr;
  }
}
