.saved-post-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 95vw;
  overflow: hidden;
}

.save-back-button {
  background-color: transparent;
  border: none;
  outline: none;
  color: var(--text-color);
  cursor: pointer;
  transition: all 300ms ease;
  padding: 8px 16px;
  border-radius: 8px;
}

.save-back-button:hover {
  border-radius: 16px;
  background-color: var(--accent-color);
  color: var(--background-color);
}

.save-post-action-box {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
}

.save-post-action-box input {
  margin: 0;
}

.save-post-action-box button {
  background: transparent;
  border: none;
  outline: none;
  color: var(--text-color);
}
