.saved-post-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 95vw;
  overflow: hidden;
}

.save-back-button {
  background-color: transparent;
  border: none;
  outline: none;
  color: var(--text-color);
  cursor: pointer;
  transition: all 300ms ease;
  padding: 8px 16px;
  border-radius: 8px;
}

.save-back-button:hover {
  border-radius: 16px;
  background-color: var(--accent-color);
  color: var(--background-color);
}
