/* MAIN FEED */
.feed-wrapper {
  position: fixed;
  top: 0;
  margin: 0 auto;
  /* left: calc(var(--sidebar-width) + 50% + 10px); */
  /* transform: translateX(calc(-50% - calc(var(--sidebar-width) / 2))); */
  left: 50%;
  transform: translateX(-50%);
  background: var(--secondary-color);
  max-width: 720px;
  width: 100%;
  min-width: unset;
  z-index: 50;
  border: 1px solid var(--border-soft);
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  overflow: hidden;

  transition: transform 300ms ease, opacity 300ms ease;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.06), 0 4px 12px rgba(0, 0, 0, 0.08);
}

.feed-wrapper.topbar--hidden {
  /* transform: translate(calc(-50% - calc(var(--sidebar-width) / 2)), -110%); */
  transform: translate(-50%, -110%);
  opacity: 0;
  pointer-events: none;
}
.feed-wrapper > * + * {
  margin-top: 16px;
}

/* NAVBAR */
.navbar {
  display: flex;
  height: 50px;
  align-items: center;
  gap: 12px;
  padding: 14px 16px;
  background: var(--secondary-color);
  overflow: hidden;
  justify-content: space-between;
  box-shadow: var(--shadow-soft);
}

/* BACK BUTTON */
.back-btn {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;

  opacity: 0;
  transform: translateX(-12px);
  pointer-events: none;
  width: 0;

  color: var(--accent-color);

  transition: all 0.3s ease;
}

.back-btn.show {
  opacity: 1;
  transform: translateX(0);
  pointer-events: auto;
  width: auto;
}

/* TABS */
.nav-tabs {
  position: relative;
  display: flex;
  gap: 28px;
  align-items: center;
  transition: transform 0.35s ease, opacity 0.35s ease;
}

.nav-tabs.hidden {
  opacity: 0;
  width: 0;
  transform: translateY(-8px);
  pointer-events: none;
}

/* TAB TEXT */
.tab {
  position: relative;
  z-index: 2;
  font-weight: 600;
  cursor: pointer;
  min-width: 54px;
  white-space: nowrap;

  color: var(--text-primary);
  transition: opacity 0.25s ease, transform 0.25s ease;
}

.tab:hover {
  opacity: 0.75;
  transform: translateY(-1px);
}

/* INDICATOR */
.tab-indicator {
  position: absolute;
  bottom: -6px;
  height: 3px;
  background: var(--accent-color);
  border-radius: 4px;
  width: 54px;

  transition: transform 0.35s ease, width 0.35s ease, opacity 0.2s ease;
}

.tab-indicator.hidden {
  opacity: 0;
}

/* SEARCH */
.search-box {
  display: flex;
  align-items: center;
  background: var(--surface-2);
  padding: 6px 14px;
  border-radius: 10px;
  transition: all 0.35s cubic-bezier(0.4, 0, 0.2, 1);
}

.search-box.active {
  flex: 1;
  width: 100%;
}

.search-box input {
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  color: var(--text-primary);
  margin-left: 6px;
}

/* ICON */
.icon {
  font-size: 20px;
  color: var(--accent-color);
  cursor: pointer;
  transition: color 0.2s;
}

.icon:hover {
  color: var(--btn-primary);
}

.header-action {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: flex-end;
  flex: 1;
  gap: 10px;
}

.chat-icon {
  display: none !important;
  cursor: pointer;
}

/* RESPONSIVE */
@media (max-width: 992px) {
  .nav-tabs {
    gap: 14px;
  }
  .search-box input {
    width: 0%;
    display: none;
  }

  .search-box.active input {
    width: 100%;
    display: block;
  }

  .chat-icon {
    display: block !important;
  }
}

@media (max-width: 1200px) {
  .feed-wrapper {
    max-width: 100vw;
    left: 50%;
  }
}
